@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

* {
  background-color: rgb(46, 45, 45);
  font-family: 'Creepster', cursive;
}
.square {
  font-size: 20px;
  font-weight: 700;
  height: 70px;
  width: 70px;
  vertical-align: middle;
  border: none;
  border-radius: 10px;
  color: white;
  margin: 5px;
  background: rgb(2, 1, 17);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
.square:hover {
  cursor: pointer;
  background-color: rgb(24, 23, 23);
  transition: 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.status {
  font-size: 25px;
  color: white;
  margin-bottom: 10px;
}
